<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Address Book</title>
</head>
<body>
<div th:if="${book != null}">
    <h1 th:text="${book.name}">AddressBook</h1>
    <small>ID: <span th:text="${book.id}">1</span></small>

    <table>
        <thead>
        <tr><th>Name</th><th>Address</th><th>Phone</th></tr>
        </thead>
        <tbody>
        <tr th:each="b : ${book.buddies}">
            <td th:text="${b.name}">Name</td>
            <td th:text="${b.address}">Address</td>
            <td th:text="${b.phone}">Phone</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${book == null}">
    <h1>AddressBook not found</h1>
    <p>Make one via REST and then visit <code>/addressbooks/{id}/view</code>.</p>
</div>
</body>
</html>
